button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.buttons {
    border: .1rem solid black;
    border-radius: 10%;
    width: 12.8125rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 100vh;
    padding: .357rem 1.25rem;
    align-self: center;
    margin: .5rem 0;
}