.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.containernospace {
    display: flex;
    flex-wrap: wrap;
}

.containercolumn {
    display: flex;
    flex-direction: column;
}

.maincontainer {
    min-height: calc(100vh - 125px); 
}
  
