* {
  box-sizing: border-box;
}

body {
  font-family: "kids-medium", helvetica, Arial;
  margin: 0;
  font-size: 0.75rem;
}

h2 {
  margin: 0;
  font-size: 0.8125rem;
  text-transform: uppercase;
}

h3 {
  font-weight: 300;
  font-size: 0.75rem;
  text-transform: uppercase;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}
