@font-face {
  font-family: "kids-regular";
  src: url("../fonts/Kiddos-Demo.ttf");
}
@font-face {
  font-family: "kids-logo";
  src: url("../fonts/Kids-Regular.ttf");
}
@font-face {
  font-family: "kids-medium";
  src: url("../fonts/55Roman.ttf");
}
* {
  box-sizing: border-box;
}

body {
  font-family: "kids-medium", helvetica, Arial;
  margin: 0;
  font-size: 0.75rem;
}

h2 {
  margin: 0;
  font-size: 0.8125rem;
  text-transform: uppercase;
}

h3 {
  font-weight: 300;
  font-size: 0.75rem;
  text-transform: uppercase;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.containernospace {
  display: flex;
  flex-wrap: wrap;
}

.containercolumn {
  display: flex;
  flex-direction: column;
}

.maincontainer {
  min-height: calc(100vh - 125px);
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.buttons {
  border: 0.1rem solid black;
  border-radius: 10%;
  width: 12.8125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 100vh;
  padding: 0.357rem 1.25rem;
  align-self: center;
  margin: 0.5rem 0;
}

header {
  border-bottom: 1px black solid;
  padding: 0 1rem;
}
header nav {
  align-items: center;
}
header .header__logo {
  font-family: "kids-logo", Arial, Helvetica;
  font-size: 4rem;
  margin: 0;
}
header li {
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 0.5rem;
}

footer {
  border: 1px black solid;
  margin-top: 1rem;
}
footer section {
  border-right: 1px black solid;
  width: 33.333333%;
  text-align: center;
}

.thumnbail {
  margin: 0;
  width: 33.333333%;
  height: 17rem;
  border: 0.1rem black solid;
  border-top: none;
  border-left: none;
  overflow: hidden;
}
.thumnbail h2, .thumnbail span {
  padding: 0.5rem 1rem 0.1rem 1rem;
}
.thumnbail a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.thumnbail .img__container {
  height: 15.625rem;
  border-top: 0.1rem solid black;
}
.thumnbail .price {
  position: relative;
  top: -0.3rem;
  font-size: 0.75rem;
}

.productpage__container {
  width: 50%;
  overflow: hidden;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
}
.productpage__container * {
  padding: 0.5rem;
}
.productpage__image {
  padding: 0;
}
.productpage__description {
  display: block;
  border-bottom: 1px solid black;
  width: 100%;
}
.productpage__colors {
  border-bottom: 1px solid black;
}
.productpage__calltoaction {
  background: #44DB5E;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.productpage__calltoaction:active {
  filter: brightness(0.5);
}

.checkout {
  padding: 0 10%;
}
.checkout .img__container {
  width: 20%;
  overflow: hidden;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
  border-left: solid black 1px;
}
.checkout__container {
  width: 80%;
  padding: 0.5rem;
  border-bottom: solid black 1px;
  border-right: solid black 1px;
}
.checkout__total {
  border: solid black 1px;
  border-top: none;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}
.checkout__total p {
  margin: 0;
}
.checkout form div {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-bottom: 0.1rem solid black;
  border-left: 0.1rem solid black;
  border-right: 0.1rem solid black;
}
.checkout form div input {
  border: solid black 0.1rem;
}
.checkout form div input:focus {
  border: solid black 0.2rem;
  outline: none;
}

input:invalid {
  border: 2px dashed red;
}

/*# sourceMappingURL=main.css.map */
