@font-face {
    font-family: "kids-regular";
    src: url("../fonts/Kiddos-Demo.ttf");
  }

@font-face {
    font-family: "kids-logo";
    src: url("../fonts/Kids-Regular.ttf");
  }

@font-face {
  font-family: "kids-medium";
  src: url("../fonts/Kids-Note.ttf");
}


