.PDP {
    &__container {
        width: 50%;
        overflow: hidden;
        border-right: solid black 1px;
        border-bottom: solid black 1px;
        
        * {
            padding: .5rem;
        }
    }

    &__image {
        padding: 0;
    }
    
    &__description {
        display: block;
        border-bottom: 1px solid black;
        width: 100%;
    }

    &__colors {
        border-bottom: 1px solid black;
    }

    &__CTA {
        background: #44DB5E;
        width: 100%;
        border: none;
        border-bottom: 1px solid black;
        cursor: pointer;

        &:active {
            filter: brightness(0.5);
        }
    }
}