.thumnbail {
    margin: 0;
    width: 33.333333%;
    height: 20.625rem;
    border: .1rem black solid;
    border-top: none;
    border-left: none;
    overflow: hidden;

    h2, span {

    padding: .5rem 1rem .1rem 1rem;
    }

    a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        cursor: pointer;
        text-decoration: none;
        color: black;
    }

    .img__container {
        height: 15.625rem;
    }

    .price {
        position: relative;
        top: -.3rem;
        font-size: .75rem;
    }
}

